<div class="headline d-flex justify-content-between align-items-center">
  <h1><%= @restaurant.name %></h1>
</div>
<hr>
<div>
<h2>Restaurant Info</h2>
<h4>Rating:</h4>
  <% if @restaurant.average_rating.nan? %>
    <p>No reviews yet!</p>
  <% else %>
    <p> <%= @restaurant.average_rating %> Stars</p>
  <% end %>
<h4>Address:</h4> 
<p><%= @restaurant.address %></p>
<h4>Phone Number:</h4> 
<p><%= @restaurant.phone_number %></p>
<h4>Category:</h4> 
<p><%= @restaurant.category.capitalize %></p>
</div>
<hr>
<div class="restaurant d-flex justify-content-between">
<h2>Review this restaurant</h2>
<div class="restaurant-review">
<%= simple_form_for @review do |f| %>
  <%= f.input :rating, collection: 0..5, prompt: 'Rate the restaurant' %>
  <%= f.input :content, as: :text, placeholder: 'Write a short review here' %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
</div>
</div>
<div>
<% @reviews.each do |review| %>
<div class="review d-flex flex-column">
<div class="review-rating align-self-end"><%= review.rating %> stars</div>
<div class="review-content"><%= review.content %></div>
</div>
<% end %>
</div>